/.ruff_cache
/20260416_hex_180_metasurface_center_colli_z-5.txt
/20260416_hex_180_metasurface_center_colli_z-5_data
/20260416_hex_180_metasurface_center_colli_z100.txt
/20260416_hex_180_metasurface_center_colli_z100_data
/20260416_hex_300_metasurface_center_colli_z150.txt
/20260416_hex_300_metasurface_center_colli_z150_data
/260413_hex_300_circle_antenna_center_mm.txt
/260413_hex_300_circle_antenna_center_mm_data
/260413_hex_300_circle_antenna_offcenter_mm.txt
/260414_hex_180_metasurface_center_colli_z30.txt
/260414_hex_180_metasurface_center_colli_z30_data
/260420_hex_300_ariy_theory_efield.txt
/260420_hex_300_bessel_theory_efield.txt

# 排除所有文件，仅保留 .py 和 .md
*
!*.py
!*.md